<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    
    <bean id="nikhitha" class = "com.di.Student">
    <property name = "studentName" value = "Nikhitha" />
    <property name = "id" value = "1" />
    </bean>
    
    <bean id = "sai" class = "com.di.Student">
    <constructor-arg name = "studentName" value = "Sai" />
    <constructor-arg name = "id" value = "2"></constructor-arg>
    </bean>
    

</beans>