<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config></context:annotation-config>
	
	<context:property-placeholder location="classpath:connection-details.properties"/>
	
	<bean id = "jdbc" class = "com.pf.JDBC">
	
	
	<!-- <property name="url" value = "${url}"></property>
	<property name="un" value = "${un}"></property>
	<property name="pwd" value = "${pwd}"></property>
	<property name="driver" value = "${driver}"></property>
	 -->
	
	</bean>


</beans>
